<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="fsgecgelibrary gecgelibrary">
  <meta name="author" content="Samet Geçgel">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="/resim/book.png">
  <link rel="stylesheet" href="/css/homestyle.css">
  <title>GeçgeLibrary</title>
</head>
<body>
    
    <nav class="ust">
        <div class="nav1">
          <div class="bas">
            <i class="fa-solid fa-book"></i>
            <h1>GeçgeLibrary</h1>
          </div>
            <div class="yazi">“Kitaplar zamanın büyük denizinde dikilmiş deniz fenerleridir.”</div>
          </div>
          <div class="nav-alt">
            <ul>
            <li><a href="/anasayfa" class="nav-link">Anasayfa</a></li>
            <% if (isAuth) { %> 
              <li><a href="#" class="nav-link"><%= fullname %></a></li>
              <li><a href="/" class="nav-link">Kitaplar</a></li>
              <li><a href="/kitapekle" class="nav-link">Kitap Ekle</a></li>
              <li><a href="/profil" class="nav-link">Hesabım</a></li>
              <% } %>
              
              <% if (isAuth) { %>
                <li><a href="/logout" class="nav-link">Çıkış Yap</a></li>
              <% } else { %>
  
                <li><a href="/register" class="nav-link">Kayıt Ol</a></li>
                <li><a href="/login" class="nav-link">Giriş Yap</a></li>
                <% } %>
          </ul>
          <form action="/" method="POST" class="ara" >
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <input type="text" name="arama" placeholder="Kitap Ara" class="arama">
            <!-- <button type="submit" class="arabtn">Ara</button> -->
          </form>
        </div>
        </nav> 

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3 text-center">
               <div class="alert alert-secondary">
                <p class="mb-3">
                    <b><%= book.kitapadi %> </b> <br> isimli category kaydınız silmek istiyor musunuz?
                </p>
                <form method="post">
                  <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                    <input type="hidden" name="kitpadi" value="<%= book.kitapadi %>">
                    <input type="hidden" name="kitapno" value="<%= book.kitapno %>">
                    <button class="btn btn-danger" type="submit">Evet</button>
                    <a href="/" class="btn btn-primary">Vazgeç</a>
                </form>
               </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <i class="fa-solid fa-book"></i>
        <div class="footer-yazi">
          <h3 class="het">iletişim için benimle irtibata geçiniz.</h3>
          
          <h3>© 2023 Tüm Haklar bana aittir.</h3>
        </div>
      </footer>
</body>
</html>



